docs/offeredapis/api_status/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/ONAPNBI/api/status/v4/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/ONAPNBI/api/status/v4/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: status
                    Version: 4.0.1
                    Owner: ONAPNBI
                    Generated on: 2019-03-12T16:45:47.241Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="StatusValue">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ok"/>
         <xs:enumeration value="ko"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComponentsName">
      <xs:restriction base="xs:string">
         <xs:enumeration value="sdc connectivity"/>
         <xs:enumeration value="so connectivity"/>
         <xs:enumeration value="aai connectivity"/>
         <xs:enumeration value="dmaap connectivity"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ApplicationName">
      <xs:restriction base="xs:string">
         <xs:enumeration value="nbi"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorDetail" type="ErrorDetail"/>
   <xs:complexType name="ErrorDetail">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Error" type="Error"/>
   <xs:complexType name="Error">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
         <xs:element name="details"
                     type="ErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Component" type="Component">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Component">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="name" type="ComponentsName" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="StatusValue" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Status" type="Status">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Status">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="name" type="ApplicationName" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">application name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="StatusValue" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="components"
                     type="Component"
                     minOccurs="1"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
